@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #f8fafc;
        font-family: 'Open Sans Variable', sans-serif;
    }
}

@keyframes spinner {
    to {
      transform: rotate(360deg);
    }
}
  
.loading {
    width: 6rem;
    height: 6rem;
    border: 5px solid #94a3b8;
    border-radius: 50%;
    border-top-color: #64748b;
    animation: spinner 0.6s linear infinite;
    margin: 0 auto;
}